<!DOCTYPE html>
<html>
  <head>
    <%= render 'application/favicon' %>
    <title>418 Bot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'spectre.min', media: 'all' %>
    <%= stylesheet_link_tag    'normalize', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <ul class="tab tab-block">
      <li class="tab-item">
          <a href="/">418 Bot</a>
      </li>
      <% if current_user %>
        <li class="tab-item">
            <a href="/list_of_brews">List of Brews</a>
        </li>
        <li class="tab-item">
            <a href="/how_to_brew">Brewing Instructions</a>
        </li>
      <% end %>
      <li class="tab-item">
          <a href="/coffee_info">Coffee Information</a>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
